@media screen and (max-width: 1460px) {
    .project-title {
        font-size: 1rem;
    }
    .header {
        height: 9%;
    }
    .header-text {
        font-size: 1.1rem;
    }
    .field-status-button {
        font-size: 0.7rem;
        height: 26px;
    }
    .main {
        height: 82%;
    }
    .footer {
        height: 9%;
    }
    .generator-btn {
        font-size: 0.7rem;
    }
    .min-result {
        font-size: 0.8rem;
    }
    .max-result {
        font-size: 0.8rem;
    }
    .filter-check {
        font-size: 0.7rem;
    }
    .current-time {
        font-size: 1rem;
    }
    .display-text {
        font-size: .8rem;
    }
    #display-mode-check {
        width: .8rem;
        height: .8rem;
    }
    .history-text p {
        font-size: 0.7rem;
    }
    .data-details {
        width: 40%;
    }
    .records-data {
        padding: 12px;
        font-size: .8rem;
    }
    .data-show {
        padding: 0.2rem 0.4rem;
    }
    .division-back-to-list-btn {
        height: 26%;
    }
    .back-to-list-btn {
        width: 70px;
        font-size: .63rem;
    }
    .back-to-list-btn:hover {
        width: 90px;
    }

    #record {
        width: 90%;
        text-align: center;
        font-size: .9rem;
        margin-top: 20px;
    }
    #record :is(td) {
        padding: 8px;
    
    }
    #record th {
        padding: 10px 8px px 8px;
    }
    #table-body tr {
        cursor: pointer;
    }
}